<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="color-scheme" content="dark" />
    <meta name="theme-color" content="#2196F3" />
    <title>Zach J Murphy - About</title>
    <meta name="description" content="Hello My name is Zach J Murphy. I do a bit of everything I make iOS apps with SwiftUI, websites in Next.js and React, servers in Nodejs & Express." />
    <link rel="icon" href="https://i.imgur.com/3l8vEXH.png" />
    <meta name="next-head-count" content="16" />
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body>
    <main>
      <div id="__next">
        <nav class="sc-4wcvgc-0 dmDjbq">
          <div class="sc-4wcvgc-1 bmpBQi">
            <a href="/" class="sc-4wcvgc-2 cUasth">
              <div
                style="width:56px;height:56px;--wexond-ui-icon-url:url(https://i.imgur.com/3l8vEXH.png);--wexond-ui-icon-size:100%"
                class="aa213r-0 ipJdLA"
              ></div>
            </a>
          </div>
        </nav>
        <div class="sc-lseay0-0 cHvNIP">
          <div class="sc-lseay0-1 fOHsi">
            <div
              style="background:#00a6ff;top:20%;right:0;transform:translateX(10vw)"
              class="sc-lseay0-5 xEVly"
            ></div>
            <header class="sc-lseay0-2 khaQwR">
              <div class="sc-lseay0-3 hFtKgk">
                Zach J
                <a class="sc-lseay0-3 sc-lseay0-4 hFtKgk cZmbCf">Murphy</a>
              </div>
              <div class="aboutme">
                <p class="about-text">Hi, I'm Zach J Murphy. I am from Canada, and I like to mess around with photography as a hobby. My favourite thing to do is listen to music on Spotify.
                <br><br>
                I have messed about with almost everything from programming, working with photoshop, and doing photography as a hobby.
                <br><br>
                When I am not messing around with my computer, I like to go on long distance runs, study 17th Century & 18th Century history, debate politics & economics, and go canoeing.
                <br><br>
                On this website, you can find out about my projects, some of my writings which include various stories, tutorials and opinions.
                I'm always up for a good talk, so if you want to talk about anything, then you can find my social media links to the left of this text, or above if you're on mobile.
                </p>
              </div>
              <div class="sc-lseay0-6 kyReqh">
                <a href="/" class="sc-lseay0-7 ktztkq">HOME</a>
                <a href="/projects" class="sc-lseay0-7 sc-lseay0-8 ktztkq krvlob"
                  >PROJECTS</a
                >
              </div>
            </header>
            <div class="hero-figure anime-element">
              <svg
                class="placeholder"
                width="528"
                height="396"
                viewbox="0 0 528 396"
              >
                <rect width="528" height="396" style="fill:transparent;"></rect>
              </svg>
              <div
                class="hero-figure-box hero-figure-box-01"
                data-rotation="45deg"
                style="transform: rotate(45deg) scale(1); opacity: 1;"
              ></div>
              <div
                class="hero-figure-box hero-figure-box-02"
                data-rotation="-45deg"
                style="transform: rotate(-45deg) scale(1); opacity: 1;"
              ></div>
              <div
                class="hero-figure-box hero-figure-box-04"
                data-rotation="-135deg"
                style="transform: rotate(-135deg) scale(1); opacity: 1;"
              ></div>
              <div
                class="hero-figure-box hero-figure-box-05"
                style="transform: scaleX(1) scaleY(1) perspective(500px) rotateY(-15deg) rotateX(8deg) rotateZ(-1deg);"
              ></div>
              <div
                class="hero-figure-box hero-figure-box-06"
                style="transform: scaleX(1) scaleY(1) perspective(500px) rotateZ(20deg);"
              ></div>
              <div
                class="hero-figure-box hero-figure-box-07"
                style="transform: scaleX(1) scaleY(1) perspective(500px) rotateZ(20deg);"
              ></div>
              <div
                class="hero-figure-box hero-figure-box-08"
                data-rotation="-22deg"
                style="transform: rotate(-22deg) scale(1); opacity: 1;"
              ></div>
              <div
                class="hero-figure-box hero-figure-box-09"
                data-rotation="-52deg"
                style="transform: rotate(-52deg) scale(1); opacity: 1;"
              ></div>
              <div
                class="hero-figure-box hero-figure-box-10"
                data-rotation="-50deg"
                style="transform: rotate(-50deg) scale(1); opacity: 1;"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
