<!DOCTYPE html>
<html>
  <head>
    <title>Zach J Murphy - Error 404</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700;900&family=Manrope:wght@400;500;600;700;800&display=swap" />
    <link rel="stylesheet" href="css/error.css" />
  </head>

  <body>
    <div class="ErrorPage__ErrorPageElement-my7j6d-4 bBXvmc">
      <div class="base__Flex-sc-1f9zlm1-0 base__Column-sc-1f9zlm1-2 page__PageContent-iv577v-1 jBEfRw khtXal liRpnJ">
        <div class="page__PageContentWrapper-iv577v-0 leRfnx">
          <div class="base__Flex-sc-1f9zlm1-0 base__Column-sc-1f9zlm1-2 bvdvNl khtXal">
            <div class="base__Flex-sc-1f9zlm1-0 base__Column-sc-1f9zlm1-2 ErrorPage__PageColumn-my7j6d-2 OsgWc khtXal hMqRDR">
              <span type="large" color="text" class="base__StyledText-sc-1f9zlm1-4 gMDxjQ ErrorPage__ErrorTitle-my7j6d-1 dZEONE">404</span>
              <div class="base__Flex-sc-1f9zlm1-0 base__Row-sc-1f9zlm1-1 dXnhdI dxFWFy">
                <span type="default" color="text" class="base__StyledText-sc-1f9zlm1-4 iYFoRW ErrorPage__ErrorDescription-my7j6d-0 hqDdof">Page Not Found</span>
              </div>
              <div class="base__Flex-sc-1f9zlm1-0 base__Row-sc-1f9zlm1-1 ErrorPage__Buttons-my7j6d-3 jBEfRw dxFWFy flFmnr">
                <span>
                  <button class="Button__StyledButtonContainer-sc-1n0bvjj-0 iBzHX">
                    <div class="base__Flex-sc-1f9zlm1-0 base__Row-sc-1f9zlm1-1 gNZhTA dxFWFy">
                      <span type="default" color="text" class="base__StyledText-sc-1f9zlm1-4 cemmNG">Go Back</span>
                    </div>
                  </button>
                </span>
                <a href="/">
                  <button class="Button__StyledButtonContainer-sc-1n0bvjj-0 ezsRAv">
                    <div class="base__Flex-sc-1f9zlm1-0 base__Row-sc-1f9zlm1-1 gNZhTA dxFWFy">
                      <span type="default" color="text" class="base__StyledText-sc-1f9zlm1-4 cemmNG">Return Home</span>
                    </div>
                  </button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>