<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Zach J Murphy - Home</title>
  <link href="css/main.css" rel="stylesheet" type="text/css" />
  <link href="css/globals.css" rel="stylesheet" type="text/css" />
  <link href="css/nav.css" rel="stylesheet" type="text/css" />
  <meta name="description"
    content="Hello My name is Zach J Murphy. I do a bit of everything I make iOS apps with SwiftUI, websites in Next.js and React, servers in Nodejs & Express." />
  <meta property="og:image" content="https://i.imgur.com/0E9EVrk.png" />
  <meta name="twitter:card" content="summary_large_image" />
  <link rel="icon" type="image/png" href="https://i.imgur.com/3l8vEXH.png">
</head>

<body>

  <section class="sideNav">
    <a class="sbButton sbbActive sbBtn1">
        <div class="sbbaInd"></div>
    </a>
    <a href="/about" class="sbButton sbbInactive sbBtn2" data-sbbLabel="About"></a>
    <a href="/gallery" class="sbButton sbbInactive sbBtn3" data-sbbLabel="Gallery"></a>
    <a href="/projects" class="sbButton sbbInactive sbBtn4" style="margin-top: auto" data-sbbLabel="Projects"></a>
  </section>

  <div class="chbTile chbTileCustom">
    <img src="https://i.imgur.com/3l8vEXH.png" class="chbTileIconBlur">
    <img src="https://i.imgur.com/3l8vEXH.png" class="chbTileIcon">
    <div class="chbGrad"></div>
    <h1 class="name">Home</h1>
    <div class="about">
      <p class="about-text">Hi, I'm Zach J Murphy. I am from Canada, and I like to mess around with photography as a hobby.
        My favourite
        thing to do is listen to music on Spotify.
        <br><br>
        I have messed about with almost everything from programming, working with photoshop, and doing photography as a
        hobby.
        <br><br>
        When I am not messing around with my computer, I like to go on long distance runs, study 17th Century & 18th
        Century history, debate politics & economics, and go canoeing.
        <br><br>
        On this website, you can find out about my projects, some of my writings which include various stories,
        tutorials and opinions.
        I'm always up for a good talk, so if you want to talk about anything, then you can find my social media links to
        the left of this text, or above if you're on mobile.
      </p>
    </div>
  </div>
</body>

</html>