html {
  background: url(https://i.imgur.com/hOdUTAi.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

.about {
  margin-top: 10%;
  margin-left: -60%;
  font-family: 'Segoe UI';
  z-index: 2;
}

.name {
  font-family: 'Segoe UI';
  font-weight: 700;
  margin-top: -11.5%;
  width: 100%;
  z-index: 2;
}

.chbTileIconBlur {
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 1;
  filter: blur(40px) contrast(2) brightness(1);
  opacity: 0.5;
  transform: scale(1.3);
  backdrop-filter: blur(10px);
  margin-top: -48.3%;
  width: 90%;
  margin-left: 8%;
}

.chbTileIcon {
  position: relative;
  z-index: 2;
  height: 80px;
  filter: drop-shadow(0px 2px 5px #0004);
  border-radius: 8px;
  margin-top: -13%;
}

.chbTileCustom {
  background-color: #fffa;
  backdrop-filter: blur(20px);

  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0px 2px 8px #0004);

  margin-top: -48.3%;
  width: 90%;
  margin-left: 8%;
}

.scrollBtn {
  width: 20px;
  height: 40px;

  background-color: rgba(0, 0, 0, 0.65);
  border-radius: 4px;

  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  position: fixed;
  bottom: 29%;
  z-index: 2;

  font-family: 'Segoe UI';

  transition: transform .2s;
}

.scrollBtn:hover {
  transform: scale(1.07);
}

/* Devices (320px) */
@media only screen and (max-width: 320px) {
  html {
    overflow-x: hidden;
    overflow-y: visible;
  }

  .about-text {
    width: 95%;
    margin-top: 20%;
    margin-left: -6%;
  }

  .name {
    margin-top: -200%;
    width: 100rem;
  }

  .chbTileIcon {
    margin-top: -205%;
  }
}

/* Devices (414px) */
@media only screen and (max-width: 414px) {
  html {
    overflow-x: hidden;
    overflow-y: visible;
  }

  .about-text {
    width: 95%;
    margin-top: 20%;
    margin-left: -6%;
  }

  .name {
    margin-top: -200%;
    width: 100rem;
  }

  .chbTileIcon {
    margin-top: -205%;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  html {
    overflow-x: hidden;
    overflow-y: visible;
  }

  .about-text {
    width: 95%;
    margin-top: 20%;
    margin-left: 0%;
  }

  .name {
    margin-top: -135%;
    width: 75rem;
  }

  .chbTileIcon {
    margin-top: -140%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  html {
    overflow-x: hidden;
    overflow-y: visible;
  }

  .about-text {
    width: 100%;
    margin-top: 10%;
    margin-left: -3%;
  }

  .name {
    margin-top: -50%;
    width: 75rem;
  }

  .chbTileIcon {
    margin-top: -53%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  html {
    overflow-x: hidden;
    overflow-y: visible;
  }

  .about-text {
    width: 100%;
    margin-top: 5%;
    margin-left: -1%;
  }

  .name {
    margin-top: -33%;
    width: 75rem;
  }

  .chbTileIcon {
    margin-top: -35%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  html {
    overflow-x: hidden;
    overflow-y: visible;
  }

  .about-text {
    width: 98%;
    margin-top: 0%;
    margin-left: 1%;
  }

  .name {
    margin-top: -20%;
    width: 75rem;
  }

  .chbTileIcon {
    margin-top: -21%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  html {
    overflow-x: hidden;
    overflow-y: visible;
  }

  .about-text {
    width: 98%;
    margin-top: 0%;
    margin-left: 1%;
  }

  .name {
    margin-top: -14%;
    width: 75rem;
  }

  .chbTileIcon {
    margin-top: -15%;
  }
}