@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url(/_next/static/resources/6cc68d6b835a3dd06e7ebda5aee33cb1.woff2)format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url(/_next/static/resources/ba68c34a21c5751a283817dcb7fe719e.woff2)format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url(/_next/static/resources/a808c21aaa221f6d24f986adfd675076.woff2)format("woff2");
}

.projects-link {
  
}

.hero {
  text-align: center;
  padding-top: 48px;
  padding-bottom: 88px;
}

.hero-copy {
  position: relative;
  z-index: 1;
}

.hero-cta {
  margin-bottom: 40px;
}

.hero-figure {
  position: relative;
}

.hero-figure svg {
  width: 100%;
  height: auto;
}

.hero-figure::before,
.hero-figure::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-size: 100%;
}

.has-animations .hero-figure::before,
.has-animations .hero-figure::after {
  opacity: 0;
  transition: opacity 2s ease;
}

.anime-ready .has-animations .hero-figure::before,
.anime-ready .has-animations .hero-figure::after {
  opacity: 1;
}

.hero-figure::before {
  top: -57.8%;
  left: -1.3%;
  width: 152.84%;
  height: 178.78%;
  background-image: url("https://preview.cruip.com/solid/dist/images/hero-back-illustration.svg");
}

.hero-figure-box {
  position: absolute;
  top: 0;
  will-change: transform;
}

.hero-figure-box-01,
.hero-figure-box-02,
.hero-figure-box-03,
.hero-figure-box-04,
.hero-figure-box-08,
.hero-figure-box-09 {
  overflow: hidden;
}

.hero-figure-box-01::before,
.hero-figure-box-02::before,
.hero-figure-box-03::before,
.hero-figure-box-04::before,
.hero-figure-box-08::before,
.hero-figure-box-09::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

.hero-figure-box-01 {
  left: 103.2%;
  top: 41.9%;
  width: 28.03%;
  height: 37.37%;
  background: linear-gradient(to left top, #00BFFB, rgba(0, 191, 251, 0));
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.hero-figure-box-01::before {
  background: linear-gradient(to left, #15181D 0%, rgba(21, 24, 29, 0) 60%);
  -webkit-transform: rotateZ(45deg) scale(1.5);
  transform: rotateZ(45deg) scale(1.5);
}

.hero-figure-box-02 {
  left: 61.3%;
  top: 64.1%;
  width: 37.87%;
  height: 50.5%;
  background: linear-gradient(to left top, #0270D7, rgba(2, 112, 215, 0));
  -webkit-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

.hero-figure-box-02::before {
  background: linear-gradient(to top, #15181D 0%, rgba(21, 24, 29, 0) 60%);
  -webkit-transform: rotateZ(-45deg) scale(1.5);
  transform: rotateZ(-45deg) scale(1.5);
}

.hero-figure-box-03 {
  left: 87.7%;
  top: -56.8%;
  width: 56.81%;
  height: 75.75%;
  background: linear-gradient(to left top, #00BFFB, rgba(0, 191, 251, 0));
}

.hero-figure-box-03::before {
  background: linear-gradient(to left, #15181D 0%, rgba(21, 24, 29, 0) 60%);
  -webkit-transform: rotateZ(45deg) scale(1.5);
  transform: rotateZ(45deg) scale(1.5);
}

.hero-figure-box-04 {
  left: 54.9%;
  top: -8%;
  width: 45.45%;
  height: 60.6%;
  background: linear-gradient(to left top, #0270D7, rgba(2, 112, 215, 0));
  -webkit-transform: rotateZ(-135deg);
  transform: rotateZ(-135deg);
}

.hero-figure-box-04::before {
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.24) 0%,
    rgba(255, 255, 255, 0) 60%
  );
  -webkit-transform: rotateZ(-45deg) scale(1.5);
  transform: rotateZ(-45deg) scale(1.5);
}

.hero-figure-box-05,
.hero-figure-box-06,
.hero-figure-box-07 {
  background-color: #242830;
  box-shadow: -20px 32px 64px rgba(0, 0, 0, 0.25);
}

.hero-figure-box-05 {
  left: 17.4%;
  top: 13.3%;
  width: 64%;
  height: 73.7%;
  -webkit-transform: perspective(500px) rotateY(-15deg) rotateX(8deg)
    rotateZ(-1deg);
  transform: perspective(500px) rotateY(-15deg) rotateX(8deg) rotateZ(-1deg);
}

.hero-figure-box-06 {
  left: 65.5%;
  top: 6.3%;
  width: 30.3%;
  height: 40.4%;
  -webkit-transform: rotateZ(20deg);
  transform: rotateZ(20deg);
}

.hero-figure-box-07 {
  left: 1.9%;
  top: 42.4%;
  width: 12.12%;
  height: 16.16%;
  -webkit-transform: rotateZ(20deg);
  transform: rotateZ(20deg);
}

.hero-figure-box-08 {
  left: 27.1%;
  top: 81.6%;
  width: 19.51%;
  height: 26.01%;
  background: #0270D7;
  -webkit-transform: rotateZ(-22deg);
  transform: rotateZ(-22deg);
}

.hero-figure-box-08::before {
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.48) 100%
  );
  -webkit-transform: rotateZ(45deg) scale(1.5);
  transform: rotateZ(45deg) scale(1.5);
}

.hero-figure-box-09 {
  left: 42.6%;
  top: -17.9%;
  width: 6.63%;
  height: 8.83%;
  background: #00BFFB;
  -webkit-transform: rotateZ(-52deg);
  transform: rotateZ(-52deg);
}

.hero-figure-box-09::before {
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.64) 100%
  );
  -webkit-transform: rotateZ(45deg) scale(1.5);
  transform: rotateZ(45deg) scale(1.5);
}

.hero-figure-box-10 {
  left: -3.8%;
  top: 4.3%;
  width: 3.03%;
  height: 4.04%;
  background: rgba(0, 191, 251, 0.32);
  -webkit-transform: rotateZ(-50deg);
  transform: rotateZ(-50deg);
}

@media (max-width: 640px) {
  .hero-cta {
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
  }
  .hero-cta .button {
    display: flex;
  }
  .hero-cta .button + .button {
    margin-top: 16px;
  }
  .hero-figure::after,
  .hero-figure-box-03,
  .hero-figure-box-04,
  .hero-figure-box-09 {
    display: none;
  }
}

@media (min-width: 641px) {
  .hero {
    text-align: left;
    padding-top: 64px;
    padding-bottom: 88px;
  }
  .hero-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .hero-copy {
    padding-right: 64px;
    min-width: 552px;
    width: 552px;
  }
  .hero-cta {
    margin: 0;
  }
  .hero-cta .button {
    min-width: 170px;
  }
  .hero-cta .button:first-child {
    margin-right: 16px;
  }
  .hero-figure svg {
    width: auto;
  }
}

html,
body {
  width: 100%;
  overflow: hidden;
} /*!sc*/
body {
  height: 100%;
  cursor: default;
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  position: relative;
  font-family: Inter, sans-serif;
  font-weight: 400;
} /*!sc*/
* {
  box-sizing: border-box;
} /*!sc*/
data-styled.g1[id="sc-global-fhaWpA1"] {
  content: "sc-global-fhaWpA1,";
} /*!sc*/
.ipJdLA {
  background-image: var(--wexond-ui-icon-url);
  background-position: center;
  background-repeat: no-repeat;
  background-size: var(--wexond-ui-icon-size);
} /*!sc*/
data-styled.g13[id="aa213r-0"] {
  content: "ipJdLA,";
} /*!sc*/
.dfhPeh {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 32px;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  will-change: background-color, max-width, opacity;
  -webkit-transition: 0.2s background-color, 0.05s max-width, 0.15s opacity;
  transition: 0.2s background-color, 0.05s max-width, 0.15s opacity;
} /*!sc*/
.dfhPeh:hover {
  background-color: rgba(255, 255, 255, 0.08);
} /*!sc*/
.dfhPeh:active {
  background-color: rgba(255, 255, 255, 0.12);
} /*!sc*/
data-styled.g14[id="sc-1yo8l6-0"] {
  content: "dfhPeh,";
} /*!sc*/
.dQqTmx {
  will-change: background-image, mask-image;
  -webkit-transition: 0.15s background-image, 0.15s mask-image;
  transition: 0.15s background-image, 0.15s mask-image;
} /*!sc*/
data-styled.g15[id="sc-1yo8l6-1"] {
  content: "dQqTmx,";
} /*!sc*/
.dmDjbq {
  width: 100%;
  height: 72px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  border: 1px solid transparent;
  margin-top: 48px;
  -webkit-transition-property: 0.15s border-bottom;
  transition-property: 0.15s border-bottom;
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
} /*!sc*/
data-styled.g25[id="sc-4wcvgc-0"] {
  content: "dmDjbq,";
} /*!sc*/
.bmpBQi {
  width: 100%;
  max-width: 1536px;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
} /*!sc*/
@media (min-width: 1153px) and (max-width: 1536px) {
  .bmpBQi {
    max-width: 1152px;
  }
} /*!sc*/
@media (max-width: 1152px) {
  .bmpBQi {
    max-width: 100%;
    padding: 0px 32px;
  }
} /*!sc*/
data-styled.g26[id="sc-4wcvgc-1"] {
  content: "bmpBQi,";
} /*!sc*/
.cUasth {
  -webkit-text-decoration: none;
  text-decoration: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
} /*!sc*/
data-styled.g27[id="sc-4wcvgc-2"] {
  content: "cUasth,";
} /*!sc*/
.jOXlPi {
  font-size: 18px;
  margin-left: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: Inter, sans-serif;
  font-weight: 600;
} /*!sc*/
data-styled.g28[id="sc-4wcvgc-3"] {
  content: "jOXlPi,";
} /*!sc*/
.iinYcQ {
  width: calc(50vw - 96px);
  height: calc(100vh - 144px);
  border-radius: 12px;
  position: absolute;
  right: -64px;
  bottom: -16px;
  padding: 4px;
  background: conic-gradient(
    from -39.31deg at 58.46% 54.64%,
    #00a6ff -50.27deg,
    #00FFBF 0.49deg,
    #278cd6 57.03deg,
    #00a6ff 309.73deg,
    #00FFBF 360.49deg
  );
} /*!sc*/
@media (min-width: 1153px) and (max-width: 1536px) {
  .iinYcQ {
    width: 500px;
  }
} /*!sc*/
@media (max-width: 1152px) {
  .iinYcQ {
    width: calc(100% - 64px);
    right: unset;
    position: relative;
    margin-top: 64px;
    height: 50vh;
  }
} /*!sc*/
data-styled.g29[id="sc-9u6lny-0"] {
  content: "iinYcQ,";
} /*!sc*/
.eErGDp {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background-color: rgb(20, 20, 20);
} /*!sc*/
data-styled.g30[id="sc-9u6lny-1"] {
  content: "eErGDp,";
} /*!sc*/
.crAMaq {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 8px;
  column-gap: 8px;
  position: absolute;
  top: 15px;
  left: 15px;
} /*!sc*/
data-styled.g31[id="sc-9u6lny-2"] {
  content: "crAMaq,";
} /*!sc*/
.kda-dZL {
  width: 11px;
  height: 11px;
  background-color: rgba(255, 255, 255, 0.12);
  border-radius: 100%;
} /*!sc*/
data-styled.g32[id="sc-9u6lny-3"] {
  content: "kda-dZL,";
} /*!sc*/
.ilFkBA {
  width: 64px;
  position: absolute;
  top: 36px;
} /*!sc*/
data-styled.g33[id="sc-9u6lny-4"] {
  content: "ilFkBA,";
} /*!sc*/
.eHITbZ {
  width: 38px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 3px 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  position: relative;
} /*!sc*/
data-styled.g34[id="sc-9u6lny-5"] {
  content: "eHITbZ,";
} /*!sc*/
.cuRYza {
  width: 100%;
  height: 34px;
  position: relative;
} /*!sc*/
.cuRYza::after {
  content: "";
  display: block;
  width: 28px;
  height: 28px;
  background-color: rgba(255, 255, 255, 0.12);
  border-radius: 100%;
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
} /*!sc*/
data-styled.g35[id="sc-9u6lny-6"] {
  content: "cuRYza,";
} /*!sc*/
.kgrqyv {
  width: calc(100% - 64px);
  height: calc(100% - 36px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 64px;
  top: 36px;
  padding-bottom: 12px;
  position: absolute;
} /*!sc*/
data-styled.g36[id="sc-9u6lny-7"] {
  content: "kgrqyv,";
} /*!sc*/
.kTuSkY {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  margin-right: 12px;
  overflow: hidden;
} /*!sc*/
.kTuSkY::before,
.kTuSkY::after {
  content: "";
  display: block;
  width: 100%;
} /*!sc*/
.kTuSkY::before {
  height: 36px;
  background-color: rgba(255, 255, 255, 0.12);
} /*!sc*/
.kTuSkY::after {
  height: calc(100% - 36px);
  background-color: rgba(255, 255, 255, 0.08);
} /*!sc*/
data-styled.g37[id="sc-9u6lny-8"] {
  content: "kTuSkY,";
} /*!sc*/
.cHvNIP {
  width: 100%;
  position: relative;
} /*!sc*/
data-styled.g38[id="sc-lseay0-0"] {
  content: "cHvNIP,";
} /*!sc*/
.fOHsi {
  width: 100%;
  max-width: 1536px;
  margin: 0 auto;
  height: calc(100vh - 120px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
} /*!sc*/
@media (min-width: 1153px) and (max-width: 1536px) {
  .fOHsi {
    max-width: 1152px;
  }
} /*!sc*/
@media (max-width: 1152px) {
  .fOHsi {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
} /*!sc*/
data-styled.g39[id="sc-lseay0-1"] {
  content: "fOHsi,";
} /*!sc*/
.khaQwR {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
} /*!sc*/
@media (max-width: 1152px) {
  .khaQwR {
    width: 100%;
    padding: 48px 8px;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
} /*!sc*/
data-styled.g40[id="sc-lseay0-2"] {
  content: "khaQwR,";
} /*!sc*/
.hFtKgk {
  font-size: 128px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Inter, sans-serif;
  font-weight: 600;
} /*!sc*/
@media (min-width: 1153px) and (max-width: 1536px) {
  .hFtKgk {
    font-size: 96px;
  }
} /*!sc*/
@media (max-width: 1152px) {
  .hFtKgk {
    font-size: 48px;
  }
} /*!sc*/
@media (max-width: 400px) {
  .hFtKgk {
    font-size: 40px;
  }
} /*!sc*/
data-styled.g41[id="sc-lseay0-3"] {
  content: "hFtKgk,";
} /*!sc*/
.cZmbCf {
  background-image: linear-gradient(90deg, #00a6ff 0%, #00FFBF 70%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
} /*!sc*/
data-styled.g42[id="sc-lseay0-4"] {
  content: "cZmbCf,";
} /*!sc*/
.xEVly {
  position: absolute;
  z-index: 0;
  background-color: #0085ff;
  opacity: 0.3;
  width: 60vw;
  height: 60vw;
  border-radius: 50%;
  -webkit-filter: blur(18vw);
  filter: blur(18vw);
} /*!sc*/
data-styled.g43[id="sc-lseay0-5"] {
  content: "xEVly,";
} /*!sc*/
.kyReqh {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 32px;
} /*!sc*/
data-styled.g44[id="sc-lseay0-6"] {
  content: "kyReqh,";
} /*!sc*/
.ktztkq {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 16px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px 24px;
  -webkit-letter-spacing: 1px;
  -moz-letter-spacing: 1px;
  -ms-letter-spacing: 1px;
  letter-spacing: 1px;
  cursor: pointer;
  will-change: background-color, color;
  -webkit-transition: 0.15s background-color, 0.15s color;
  transition: 0.15s background-color, 0.15s color;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: Inter, sans-serif;
  font-weight: 600;
  -webkit-text-decoration: none;
  text-decoration: none;
  color: #000;
  border: 2px solid transparent;
} /*!sc*/
.ktztkq:hover {
  background-color: #00FFBF;
  color: #000;
} /*!sc*/
@media (max-width: 1152px) {
  .ktztkq {
    font-size: 14px;
    padding: 16px 12px;
  }
} /*!sc*/
data-styled.g45[id="sc-lseay0-7"] {
  content: "ktztkq,";
} /*!sc*/
.krvlob {
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
  margin-left: 16px;
} /*!sc*/
.krvlob:hover {
  border: 2px solid transparent;
} /*!sc*/
data-styled.g46[id="sc-lseay0-8"] {
  content: "krvlob,";
} /*!sc*/
.hPOeXu {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
} /*!sc*/
data-styled.g47[id="sc-lseay0-9"] {
  content: "hPOeXu,";
} /*!sc*/
.kPYSsO {
  font-size: 48px;
  -webkit-letter-spacing: 4px;
  -moz-letter-spacing: 4px;
  -ms-letter-spacing: 4px;
  letter-spacing: 4px;
  text-align: center;
  padding: 0px 16px;
  font-family: Inter, sans-serif;
  font-weight: 400;
} /*!sc*/
@media (max-width: 1152px) {
  .kPYSsO {
    font-size: 24px;
  }
} /*!sc*/
data-styled.g48[id="sc-lseay0-10"] {
  content: "kPYSsO,";
} /*!sc*/
.cHRJxS {
  width: 100%;
  background-color: rgb(15, 15, 15);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.48);
  font-size: 14px;
  padding-bottom: 24px;
  font-family: Inter, sans-serif;
  font-weight: 400;
} /*!sc*/
data-styled.g49[id="sc-1xkz22c-0"] {
  content: "cHRJxS,";
} /*!sc*/
.cRDSjv {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-column-gap: 16px;
  column-gap: 16px;
} /*!sc*/
data-styled.g50[id="sc-1xkz22c-1"] {
  content: "cRDSjv,";
} /*!sc*/
.beGcos {
  width: 48px;
  height: 48px;
} /*!sc*/
.beGcos > .aa213r-0 {
  opacity: 0.5;
  -webkit-transition: 0.2s opacity;
  transition: 0.2s opacity;
} /*!sc*/
.beGcos:hover > .aa213r-0 {
  opacity: 1;
} /*!sc*/
data-styled.g51[id="sc-1xkz22c-2"] {
  content: "beGcos,";
} /*!sc*/
